<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <title>Contacts</title>
</head>
<body>
<h1 align="center">
    Информация о разработчике:
</h1>
    <table style="background-color:LightCyan" align="center">
        <tr><td>Дизайн</td><td>Иванов И.И.</td></tr>
        <tr><td>Телефон</td><td>939-88-96</td></tr>
        <tr><td>email</td><td><a href="mailto:annimous@gmail.com">abonimous@gmail.com</a></td></tr>
    </table>
    <p  align="center">
        <a href="index.html">На главную</a>
    </p>
</body>
</html>